<html>
    <head>
        <link rel="stylesheet" href="style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        <div id="wrapper">
            <nav>
                <div id="champ_left">                    
                    <img id="champ_left_1" src="/images/nan_left.jpg">
                </div>
                <div id="champ_left">
                    <img id="champ_left_2" src="/images/nan_left.jpg">
                </div>
                <div id="champ_left">
                    <img id="champ_left_3" src="/images/nan_left.jpg">
                </div>
                <div id="champ_left">
                    <img id="champ_left_4" src="/images/nan_left.jpg">
                </div>
                <div id="champ_left">
                    <img id="champ_left_5" src="/images/nan_left.jpg">
                </div>
            </nav>
            <section>
                <div class="center score_name">
                    <h1>SCORE</h1>
                </div>
                <div class="center score">
                    <h1>VS</h1>
                </div>
                <div class="center search">
                    <form class="search_text" action="">
                        <input type="text" placeholder="LoC Search">
                        <button type="submit"><i class = "fa fa-search"></i></button>
                    </form>
                </div>        
                <div class="center champions">
                    <img src="/images/champions.jpg">
                </div>
            </section>
            <aside>
                <div id="champ_right">
                    <img id="champ_right_1" src="/images/nan_right.jpg">
                </div>
                <div id="champ_right">
                    <img id="champ_right_2" src="/images/nan_right.jpg">
                </div>
                <div id="champ_right">
                    <img id="champ_right_3" src="/images/nan_right.jpg">
                </div>
                <div id="champ_right">
                    <img id="champ_right_4" src="/images/nan_right.jpg">
                </div>
                <div id="champ_right">
                    <img id="champ_right_5" src="/images/nan_right.jpg">
                </div>
            </aside>
        </div>
    </body>
</html>