<html>
    <head>
        <link rel="stylesheet" href="style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        <div id="wrapper">
            <!-- 크게 화면 레이아웃을 세 분류로 나눴음 nav, section, aside-->
            <nav>
                <div id="champ_left">                    
                    <img id="champ_1" src="/images/nan_left.jpg" onclick="showitem(this)">
                    <!-- <img id="champ_1" src="/images/champion_images/ahri.png"> -->
                </div>
                <div id="champ_left">
                    <img id="champ_4" src="/images/nan_left.jpg" onclick="showitem(this)">
                </div>
                <div id="champ_left">
                    <img id="champ_5" src="/images/nan_left.jpg" onclick="showitem(this)">
                </div>
                <div id="champ_left">
                    <img id="champ_8" src="/images/nan_left.jpg" onclick="showitem(this)">
                </div>
                <div id="champ_left">
                    <img id="champ_9" src="/images/nan_left.jpg" onclick="showitem(this)">
                </div>
            </nav>
            <section>
                <div class="center score_name">
                    <h1>SCORE</h1>
                </div>
                <div class="center score">
                    <div id='good'>
                        <h1 id='score_left'></h1>
                        <h1>VS</h1>
                        <h1 id='score_right'></h1>
                    </div>
                </div>

                <!-- <div class></div> -->
                <div class="center search">
                    <form class="search_text">
                        <input type="text" placeholder="LoC Search" oninput="search(this.value)">
                    </form>
                </div> 
                
                <div class="center refresh">
                    <button class="refresh-button" onclick="refresh()"><i class = "fa fa-refresh"></i> Refresh</button>
                </div>

                <div class="center champions" id="chmpss">
                    <div class="gallery" id="chmpgal">
                        <a target="_blank">
                            <img id="aatrox" src="/images/champion_images/aatrox.png" alt="aatrox" width="75" height="75" onclick="imageclick(this)">
                        </a>
                    </div>
                </div>
            </section>
            <aside>
                <div id="champ_right">
                    <img id="champ_2" src="/images/nan_right.jpg" onclick="showitem(this)">
                </div>
                <div id="champ_right">
                    <img id="champ_3" src="/images/nan_right.jpg" onclick="showitem(this)">
                </div>
                <div id="champ_right">
                    <img id="champ_6" src="/images/nan_right.jpg" onclick="showitem(this)">
                </div>
                <div id="champ_right">
                    <img id="champ_7" src="/images/nan_right.jpg" onclick="showitem(this)">
                </div>
                <div id="champ_right">
                    <img id="champ_10" src="/images/nan_right.jpg" onclick="showitem(this)">
                </div>
            </aside>
        </div>
        <!-- The Modal -->
        <div id="myModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
            <span class="close">&times;</span>
            <img id="modal_item" src="/images/nan_right.jpg">
        </div>

        </div>
    </body>
    <script>
        var pickleft = true;
        var picknum = 1;
        var pickedchampions = ['None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None'];
        // 챔피온 이미지 변경을 위한 JS
        window.onload = function changeimage(){
            var xmlhttp = new XMLHttpRequest();
            var lists;
            var bod = document.getElementById('chmpss');
            var gal = document.getElementById('chmpgal');
            var image = document.getElementById('aatrox');
            xmlhttp.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                    lists = JSON.parse(this.responseText);
                    // console.log(lists.files);
                    // console.log(lists.files[8]);
                    for(var i = 2; i <= 143; i++){
                        var gal_n = gal.cloneNode();
                        var image_n = image.cloneNode();
                        image_n.id = lists.files[i].split('.')[0];
                        image_n.src = '/images/champion_images/' + lists.files[i];
                        bod.appendChild(gal_n);
                        gal_n.appendChild(image_n);
                    }
                }
            }
            xmlhttp.open("GET", "http://localhost:4000/champ_list", true);
            xmlhttp.send();
        }
        // function showchampion(champnames) {
        //     document.createElement("")
        // }
        
        function search(name) {
            console.log(name)
            var xmlhttp = new XMLHttpRequest();
            var lists;
            document.getElementById('aatrox').parentElement.parentElement.style.display = 'none'
            if('aatrox'.includes(name)){
                document.getElementById('aatrox').parentElement.parentElement.style.display = 'block'
            }
            xmlhttp.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                    lists = JSON.parse(this.responseText);
                    for(var i = 2; i <= 143; i++){
                        var image_n = lists.files[i].split('.')[0];
                        document.getElementById(image_n).parentElement.style.display = 'none'
                        if(image_n.includes(name)) {
                            // console.log(name + ' in ' + image_n)
                            document.getElementById(image_n).parentElement.style.display = 'block'
                        }
                    }
                }
            }
            xmlhttp.open("GET", "http://localhost:4000/champ_list", true);
            xmlhttp.send();
        }
        
        function refresh() {
            pick = document.getElementById('champ_' + 1)
            pick.src = "/images/nan_left.jpg"
            pick = document.getElementById('champ_' + 2)
            pick.src = "/images/nan_right.jpg"
            pick = document.getElementById('champ_' + 3)
            pick.src = "/images/nan_right.jpg"
            pick = document.getElementById('champ_' + 4)
            pick.src = "/images/nan_left.jpg"
            pick = document.getElementById('champ_' + 5)
            pick.src = "/images/nan_left.jpg"
            pick = document.getElementById('champ_' + 6)
            pick.src = "/images/nan_right.jpg"
            pick = document.getElementById('champ_' + 7)
            pick.src = "/images/nan_right.jpg"
            pick = document.getElementById('champ_' + 8)
            pick.src = "/images/nan_left.jpg"
            pick = document.getElementById('champ_' + 9)
            pick.src = "/images/nan_left.jpg"
            pick = document.getElementById('champ_' + 10)
            pick.src = "/images/nan_right.jpg"
            for (var i = 0; i < pickedchampions.length; i++) {
                if(pickedchampions[i] != 'None'){
                    const imag = document.getElementById(pickedchampions[i])
                    imag.onclick = function() {imageclick(imag)}
                    console.log(imag.onclick)
                    imag.style = 'opacity : 1'
                    papa = imag.parentElement
                }
            }
            document.getElementById('score_left').innerHTML = '';
            document.getElementById('score_right').innerHTML = '';
            pickleft = true;
            picknum = 1;
            pickedchampions = ['None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None'];    
        }
            
        function imageclick(img) {
            var src = img.src
            var path = 'champ_' + picknum
            img.onclick = 'false'
            img.style = 'opacity : 0.2'
            papa = img.parentElement
            pickedchampions[picknum - 1] = img.id
            pick = document.getElementById(path)
            pick.src = src
            picknum += 1
            console.log(pickedchampions)
            if(pickedchampions[9] != 'None'){
                calculatescore()
            }
        }
        
        function calculatescore() {
            ///run python
            var left = 1;
            var right = 2;
            document.getElementById('score_left').innerHTML = left;
            document.getElementById('score_right').innerHTML = right;
        }

        var modal = document.getElementById("myModal");
        var span = document.getElementsByClassName("close")[0];
        var modal_item = document.getElementById("modal_item");
        function showitem(img) {
            champname = img.src.replace('http://localhost:4000/images/champion_images/','')
            if(champname.length < 15){
                modal.style.display = "block";
                modal_item.src = "http://localhost:4000/images/champion_images/" + champname;
            }
        }
        span.onclick = function() {
            modal.style.display = "none";
        }
        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }        
    </script>
</html>