<html>
    <head>
        <link rel="stylesheet" href="style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        <div id="wrapper">
            <!-- 크게 화면 레이아웃을 세 분류로 나눴음 nav, section, aside-->
            <nav>
                <div id="champ_left">                    
                    <!-- <img id="champ_left_1" src="/images/nan_left.jpg"> -->
                    <img id="champ_left_1" src="/images/champion_images/ahri.png">
                </div>
                <div id="champ_left">
                    <img id="champ_left_2" src="/images/nan_left.jpg">
                </div>
                <div id="champ_left">
                    <img id="champ_left_3" src="/images/nan_left.jpg">
                </div>
                <div id="champ_left">
                    <img id="champ_left_4" src="/images/nan_left.jpg">
                </div>
                <div id="champ_left">
                    <img id="champ_left_5" src="/images/nan_left.jpg">
                </div>
            </nav>
            <section>
                <div class="center score_name">
                    <h1>SCORE</h1>
                </div>
                <div class="center score">
                    <h1>VS</h1>
                </div>

                <!-- <div class></div> -->
                <div class="center search">
                    <form class="search_text" action="">
                        <input type="text" placeholder="LoC Search">
                        <button type="submit"><i class = "fa fa-search"></i></button>
                    </form>
                </div> 
                
                <div class="center refresh">
                    <button class="refresh-button" onclick="refresh()"><i class = "fa fa-refresh"></i> Refresh</button>
                </div>

                <div class="center champions" id="chmpss">
                    <div class="gallery" id="chmpgal">
                        <a target="_blank">
                            <img id="aatrox" src="/images/champion_images/aatrox.png" alt="aatrox" width="75" height="75">
                        </a>
                    </div>
                </div>
            </section>
            <aside>
                <div id="champ_right">
                    <img id="champ_right_1" src="/images/nan_right.jpg">
                </div>
                <div id="champ_right">
                    <img id="champ_right_2" src="/images/nan_right.jpg">
                </div>
                <div id="champ_right">
                    <img id="champ_right_3" src="/images/nan_right.jpg">
                </div>
                <div id="champ_right">
                    <img id="champ_right_4" src="/images/nan_right.jpg">
                </div>
                <div id="champ_right">
                    <img id="champ_right_5" src="/images/nan_right.jpg">
                </div>
            </aside>
        </div>
    </body>
    <script>
        // 챔피온 이미지 변경을 위한 JS
        window.onload = function changeimage(){
            var xmlhttp = new XMLHttpRequest();
            var lists;
            var bod = document.getElementById('chmpss');
            var gal = document.getElementById('chmpgal');
            var image = document.getElementById('aatrox');
            xmlhttp.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                    lists = JSON.parse(this.responseText);
                    console.log(lists.files);
                    console.log(lists.files[8]);
                    for(var i = 2; i <= 143; i++){
                        var gal_n = gal.cloneNode();
                        var image_n = image.cloneNode();
                        image_n.id = lists.files[i].split('.')[0];
                        image_n.src = '/images/champion_images/' + lists.files[i];
                        bod.appendChild(gal_n);
                        gal_n.appendChild(image_n);
                    }
                }
            }
            xmlhttp.open("GET", "http://localhost:4000/champ_list", true);
            xmlhttp.send();
        }

        function refresh() {
            for (var i = 1; i <= 10; i++) {
                pick = document.getElementById('champ_' + i)
                pick.src = ""
            }
        }
    </script>
</html>