body {
    text-align: center;
    font-size: 54px;
    background-color: #090707;
    display: center;
    width: 100%;
}
div#wapper {
    width: 100%;
    text-align: left;
    min-height: 300px;
    margin: 0 auto;
}

nav, section, aside {
    margin: 5px;
    padding: 10px;
    float: left;
}
nav {
    margin-left: 2%;
    width: 15%;
    border: 3px solid;
    border-color: blue;
    height: 90%;
}
section {
    width: 60%;
}
aside {
    width: 15%;
    border: 3px solid;
    border-color: red;
    height: 90%;
}
h1 {
    color: greenyellow;
    text-shadow: 2px 2px 2px green;    
}
.center {
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.score {
    border: 3px solid;
    border-color: green;
    margin-bottom: 5px;
}
.search {
    overflow: hidden;
    width: 30%;
}
.search input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
}
.search button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
}
.search button:hover {
    background: #0b7dda;
}
form.search_text::after {
    content: "";
    clear: both;
    display: table;
}
.champions {
    width: 100%;
}